# Frokost — A Huddly Icon Library ✨

## How to install

Run the following command to install the library:

```bash
npm install Huddly/frokost --save
```

## Icon packages and imports

[icons-declaration]
